@import url('https://fonts.googleapis.com/css?family=Markazi+Text');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Navigation Component */

nav ul{
  display: flex;
  padding: 1rem 2rem;
  justify-content:space-evenly;
  flex-wrap: wrap;
  align-items:center;
}

nav ul li{
  display: inline;
  padding: 1rem;
  text-transform: uppercase;
  font-size:larger;
  font-family: 'Markazi Text';
}

nav ul li a:hover{
  color: #495e57;
  font-size: larger;
  transition: 0.5s;
}

nav ul li:hover{
    color: #495e57;
  font-size: larger;
  transition: 1s;
  border-bottom: 0.2rem solid #F4CE14;
}

/* Header Component */
header{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 1rem;
  padding: 3rem 10rem;
}

header img{
  border-radius: 0.5rem;
}

/* Special Component */
.special{
  display: flex;
  flex-direction: column;
  align-items:stretch;
  padding: 4rem 10rem;
}

/* Testimonial Component */
.testimonials{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 10rem;
}

/* About Us Component */
.aboutus{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 4rem 10rem;
}

.container {
	position: relative;
	width: 20rem;
  height: 30rem;
  
}

.stackImage{
  width: 15rem;
  height: 18rem;
  border-radius: 1rem;
}

.container img {
	max-width: 100%;
	position: absolute;
  rotate: 5deg;
	top: 0;
	left: 12rem;
}

.container img:first-child {
  animation: fanIn 2s infinite ease-in;
  animation-direction:alternate-reverse;
}

.container img:last-child {
	position: relative;
  rotate: -5deg;
  translate: -10rem 5rem;
  animation: fanout 2s infinite ease-in;
  animation-direction: alternate;
}

@keyframes fanout{
  from{
    transform: rotate(5deg);
  }

  to{
    transform: rotate(-10deg);
  }
}

@keyframes fanIn{
  from{
    transform: rotate(-5deg);
  }

  to{
    transform: rotate(10deg);
  }
}

/* Footer Component */
footer{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 4rem 2rem;
}

footer ul li{
  list-style-type: none;
  margin: 1rem 0;
}

footer ul li a:hover{
  color: #495e57;
  opacity: 50%;
}

footer + p{
  text-align: center;
  padding: 0.5rem;
}

/* Reservation Component */
.bookingform{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 1rem;
  padding: 3rem 6rem;
}

.bookingform img{
  border-radius: 0.5rem;
}

/* Contact Form Component */
.contactform{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  row-gap: 1rem;
  padding: 3rem 6rem;
}

.contactform > form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  row-gap: 1rem;
  width: max-content;
}

/* Payment Component */
.payment{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  row-gap: 1rem;
  padding: 6rem 6rem;
}